extends base-layout

block content
  .row
    if success
      h1 Registered!
    if errors
      each error in errors
        h3= error.msg

    form(action='/register', method='post')
      .row
        .six.columns
          label(for='usernameInput') Your Username
          input(
            type='text'
            id='usernameInput'
            name='username'
          )
        .six.columns
          label(for='emailInput') Your Email
          input(
            type='email'
            id='emailInput'
            name='email'
          )
        .six.columns
          label(for='passwordInput') Your Password
          input(
            type='password'
            id='passwordInput'
            name='password'
          )
      input(
        class='button-primary submit'
        type='submit'  
      )
    
//- block append scripts
//-   script(src='/js/register.js')
