extends base-layout

block content
  div.container-fluid.list-group
  h1.row.list-group-item= result.title
  div.row.list-group-item Created on #{result.dateTime}
  div.row.list-group-item= result.content
    ul.container-fluid.list-group
    each mes in result.messages
      li.list-group-item Posted by #{mes.user} on #{mes.date}
      li.list-group-item= mes.content.message

  form.container-fluid.row(action='/forum/' + result._id method="post")
    textarea.form-control.row(name="message" placeholder="Enter your answer")
    button
      | Post