extends base-layout

block append head
  title Project Puppy / Find Pet
  //- put custom css her
  //- link(rel='stylesheet' href='/components/Croppie/croppie.css')

  link(rel='stylesheet' href='/css/find.css')

block content
  .row.filterContainer
    .three.columns &nbsp;
    .three.columns
      select(
        id='towns'
        class='filter u-full-width'
        name='town'
      )
        option(
          value=''
          disabled
          selected
        ) select town
    .three.columns
      select(
        id='petType'
        class='filter u-full-width'
        name='petType'
      )
        option(
          value=''
          disabled
          selected
        ) select animal
        option(value='cat') cat
        option(value='dog') dog
        option(value='other') other

  .postsContainer

block append scripts
  script(src='/js/towns-populate.js')
  script(src='/js/find.js')
