extends base-layout

block append head
  //- link(rel='stylesheet' href='/css/register.css')

block content
  if success
    h1 Registered!
  if errors
    each error in errors
      h3= error.msg

  form(action='/register', method='post')
    .row
      .one-third.column &nbsp;
      .one-third.column
        input(
          type='text'
          id='usernameInput'
          name='username'
          placeholder='username'
        )
      .one-third.column &nbsp;
    .row
      .one-third.column &nbsp;
      .one-third.column
        input(
          type='email'
          id='emailInput'
          name='email'
          placeholder='email'
        )
      .one-third.column &nbsp;
    .row
      .one-third.column &nbsp;
      .one-third.column
        input(
          type='password'
          id='passwordInput'
          name='password'
          placeholder='password'
        )
      .one-third.column &nbsp;
    .row
      .one-third.column &nbsp;
      .one-third.column
        input(
          class='button-primary submit'
          type='submit'
          value='Register'
        )
      .one-third.column &nbsp;

//- block append scripts
//-   script(src='/js/register.js')
