extends base-layout

block content
  h2
    a(href='/forum') Forum
  div.container-fluid.list-group
    h3.row.list-group-item= result.title
    div.row.list-group-item
      div= result.content
        hr.dl-horizontal
      div
          | Posted by 
          a(href=`/user/${result.username}`)
            span= result.username
          |  on #{result.dateTime.toLocaleString()}
    h3 Answers
    div.container-fluid.list-group
    ul.row
    each mes in result.messages
      li.list-group-item
        div= mes.content.message
        hr
        div
          | Posted by 
          a(href=`/user/${mes.user}`)
            span= mes.user
          |  on #{mes.date.toLocaleString()}
      hr

  if user
    form.container-fluid.row(action='/forum/' + result._id method="post")
      textarea.form-control.row(name="message" placeholder="Enter your comment")
      button
        | Add comment