extends base-layout

block append head
  link(rel='stylesheet' href='/css/view-post.css')
  link(rel='stylesheet' href='/components/imageviewer/dist/viewer.css')
  link(rel='stylesheet' href='/css/alert.css')
  link(rel="stylesheet" href="/components/bootstrap-css-only/css/bootstrap.css")

block content
  if isArchived
    p.alert.error This post is archived!

  .row
    .postTitle.twelve.columns
      h1= title

  .row
    .eight.columns
      .imgContainer
        ul.images
          each url in imgUrls
            li
              img.object-fit_cover.u-full-width(
                src= url
              )
    .four.columns.u-max-fullwidth
      if isOwner && !isArchived
        button#archive.button Archive post

      if !isOwner
        a.button.button-primary(
          href=`/chat/${ownerUsername}`
        ) Contact
      ul
        li posted by:
          a(href=`/user/${ownerUsername}`)
            p= ownerUsername
        li city:
          p= town

        li pet type:
          p= petType
        li posted on:
          p= date

  .row
    #postDescription.eight.columns
      p= description

  .row
    each mes in messages
      li.list-group-item
        div= mes.content.message
        hr
        div
          | Posted by
          a(href=`/user/${mes.user}`)
            span= mes.user
          |  on #{mes.date.toLocaleString()}
      hr
  if user
    .row
      form#submitComment.container-fluid.row(action=`/post/${_id}` method="post")
        textarea.form-control.row(name="message" placeholder="Enter your comment"  id='commentInput')
        button
          | Add comment

block append scripts
  script(src='/components/imageviewer/dist/viewer.js')
  script(src='/js/view-post.js')